
/* GENERAL STYLING */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    color: #2D3748;
    background-color: #f7fafc;
}


/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */
.header1 {
    grid-column: 1 / 3;
    background-color: #3C8527;
    color: #ffffff;
    padding: 40px 0 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 39px;
        font-family: "Trebuchet MS", Arial, sans-serif;
        margin: 20px 0 5px 0;
    }

    p {
        margin: 0;
        font-size: 18px;
        font-style: italic;
        opacity: 0.7;
    }
}

.header-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid #ffffff;
    object-fit: cover;
}


/* SIDEBAR */

aside {
    padding: 30px;
    color: #28651c;
    font-family: Georgia, 'Times New Roman', Times, serif;

    h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        font-weight: bold;
        padding-left: 20px;
    }

    li {
        margin-bottom: 8px;
    }

    a {
        color: #2879bb;
        text-decoration: none;
    }
}

.sidebar {
    margin-bottom: 30px;
    margin-left: 10px;
}

.side-about {
    background-color: #e2e8f0;
    padding: 15px;
    border-radius: 4px;
    line-height: 1.3em;
}


/* MAIN CONTENT */
.main-content {
    padding: 30px 10px 20px 10px;
}


/* BLOG POSTS */
.blog-post {
    background: #ffffff;
    padding: 0px 30px 30px 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;

    h2 {
        font-size: 34px;
        color: #28651c;
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }
}

.post-meta {
    font-size: 14px;
    color: #667267;
    margin-top: 0;
}


/* BLOG IMAGES */
article img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2%;
}

.float-left {
    float: left;
    margin: 5px 20px 10px 0;
}

.float-right {
    float: right;
    margin: 5px 0 10px 20px;
}


/* FOOTER */
footer {
    grid-column: 1 / 3;
    background-color: #28651c;
    color: #ffffff;
    text-align: center;
    padding: 15px;

    p {
        margin: 0;
    }
}